{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="core-footer" data-scroll-section>

    <div class="row row-1">

        <div class="column">

            <p>
                <a class="core-logo no-underline" href="/">
                    <span class="underline">euro</span>pa.museum
                </a>
            </p>

            <p>
                1026 Avenue del Roya<br>
                Varceleta 11854,
                Spain
            </p>

            <p>
                <a href="#">
                    View on Map
                </a>
            </p>

        </div>

        <div class="column">

            <p>
                Opening Hours
            </p>

            <p>
                Monday - Friday 8am to 8pm<br>
                Saturday 10am - 8pm<br>
                Sunday 10am - 6pm
            </p>

        </div>

        <div class="column">

            <p>
                Contact Us
            </p>

            <p>

                Phone:
                <a href="#">
                    +34 561 348751
                </a>

                <br>

                Email:
                <a href="#">
                    info@europamuseum.org
                </a>

            </p>

            <p>
                <a href="#" class="underline">
                    Contact
                </a>
            </p>

        </div>

        <div class="column">

            <p>
                Follow Us
            </p>

            <p>

                <a href="#">
                    Facebook
                </a>

                <br>

                <a href="#">
                    Twitter
                </a>

                <br>

                <a href="#">
                    Instagram
                </a>

            </p>

        </div>

        <div class="column last">

            <p>
                <a href="#">
                    Top
                </a>
            </p>

        </div>

    </div>

    {#  #}

    <div class="row row-2">

        <div class="column">

            <p>
                A Museum of European Artwork
            </p>

        </div>

        <div class="column">

            <p>
                Thousands of Years of History
            </p>

        </div>

        <div class="column">

            <p>
                <a href="#">
                    Terms of Use
                </a>
                /
                <a href="#">
                    Privacy Policy
                </a>
            </p>

        </div>

        <div class="column">

            <p class="copyright">
                &copy; {{ now|date('Y') }} Pixel &amp; Tonic, Inc.
            </p>

        </div>

        <div class="column last">



        </div>

    </div>

</footer>
