{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="core-footer" data-scroll-section>

    <div class="row row-1">

        <div class="column">

            <p>
                <a class="core-logo no-underline" href="/">
                    <span class="underline">euro</span>pa.museum
                </a>
            </p>

            <p class="hide-on-mobile">
                20832 SE Humber Ln<br>
                Bend, OR 97702, USA
                {# 1026 Avenue del Roya<br>
                Varceleta 11854,
                Spain #}
            </p>

            <p class="hide-on-mobile">
                <a class="view-map" href="https://goo.gl/maps/7R6cCWcELV4hN3QF7" target="_blank" rel="noopener">
                    View on Map
                </a>
                {% include "_/svg/mapPin" %}
            </p>

        </div>

        <div class="column hide-on-mobile">

            <p>
                Contact Us
            </p>

            <p>

                Phone:
                <a href="tel:+1-855-700-5115">
                    +1 855.700.5115
                    {# +34 561 348751 #}
                </a>

                <br>

                Email:
                <a href="mailto:hello@pixelandtonic.com">
                    hello@pixelandtonic.com
                    {# info@europa.museum #}
                </a>

            </p>

            <p>
                <a href="/contact" class="underline" data-router-disabled>
                    Contact
                </a>
            </p>

        </div>

        <div class="column hide-on-mobile">

            <p>
                Open Hours
            </p>

            <p>
                Weekdays: 8am - 5pm<br>
                Weekend: 8am - 9pm
            </p>

        </div>

        <div class="column hide-on-mobile">

            <p>
                Follow Us
            </p>

            <p>

                <a href="https://www.facebook.com/craftcms" target="_blank" rel="noopener">
                    Facebook
                </a>

                <br>

                <a href="https://twitter.com/craftcms" target="_blank" rel="noopener">
                    Twitter
                </a>

            </p>

        </div>

        <div class="column last">

            <p>
                <a class="scroll-top" href="#">
                    Top
                </a>
                {% include "_/svg/arrowUp" %}
            </p>

        </div>

    </div>

    {#  #}

    <div class="row row-2">

        <div class="column">

            <p>
                Design by <a href="https://www.behance.net/marcusbrown" target="_blank" rel="noopener">Marcus Brown</a>.
            </p>

        </div>

        <div class="column">

            <p>
                Development by <a href="https://vanholtz.co" target="_blank" rel="noopener">Van Holtz Co</a>.
            </p>

        </div>

        <div class="column">

            <p>
                <a href="#">
                    Terms of Use
                </a>
                /
                <a href="#">
                    Privacy Policy
                </a>
            </p>

        </div>

        <div class="column">

            <p class="copyright">
                &copy; {{ now|date('Y') }} Pixel &amp; Tonic, Inc.
            </p>

        </div>

        <div class="column last">



        </div>

    </div>

</footer>
