{# @var craft \craft\web\twig\variables\CraftVariable #}
<header class="core-header">

    <div class="core-header-content">

	<a class="core-logo no-underline" href="/">
        <span class="underline">euro</span>pa.museum
	</a>

    {% include "_/partials/quick-links" %}

	{% include "_/partials/nav-links" %}

    </div>

    <div id="dark-toggle"></div>

</header>
