{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set exhibit = theBlock.exhibit.one() ?? null %}
{% set textColor = theBlock.textColor | default('#000') %}
{% set title = exhibit.title %}
{% set heroImage = exhibit.heroImage.one() ?? null %}

{% if exhibit %}

    <div class="content-block exhibit-block" data-scroll-section>

        <div class="exhibit-container">

            <a class="link no-underline" href="{{ exhibit.url }}" data-scroll data-scroll-speed="-3">

                <div class="title-container" data-scroll data-scroll-speed="2">
                    <h3 class="title {{ textColor }} underline">
                        {{ title }}
                    </h3>
                </div>

                {% if heroImage %}
                    <div class="hero-image" data-scroll data-scroll-speed="1">
                        {# with, classes: 'example' #}
                        {% include "_/components/picture" with {
                            asset: heroImage,
                            transform: 'base',
                            sizes: sizes ?? '100vw',
                            lazytransition: 'none'
                        } %}
                    </div>
                {% endif %}

            </a>

        </div>

    </div>

{% endif %}
