{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set heading = theBlock.heading ?? altText|default('') %}

{% if heading|length %}

    <div class="content-block heading-block" data-scroll-section>
        <div class="heading">
            {{ heading | typogrify }}
        </div>
    </div>

{% endif %}
