{# @var craft \craft\web\twig\variables\CraftVariable #}

<div class="w-full">
    <div class="relative flex flex-wrap lg:flex-no-wrap">
        <div class="w-full lg:order-2 lg:mr-30">
            {% include "_/components/blocks/image" with {
                sizes: '100vw, (min-width: 375px) 50vw',
            } %}
        </div>
        <div class="w-full lg:order-1">
            {% include "_/components/blocks/text" %}
        </div>
    </div>
</div>
