{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set wysiwyg = theBlock.wysiwyg %}

{% if wysiwyg %}

    <div class="content-block wysiwyg-block" data-scroll-section>
        <div class="wysiwyg">
            {{ wysiwyg | typogrify }}
        </div>
    </div>

{% endif %}
