ENVIRONMENT=dev

SECURITY_KEY=QcE3637sFj9EoF9fpARNaFrhrqiaRuhB26dm6jr6kt

DB_DRIVER=pgsql
DB_SERVER=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=
DB_SCHEMA=public
DB_TABLE_PREFIX=

DEFAULT_SITE_URL=https://europa.nitro
