# CRAFT ENVIRONMENT
.env
.env.sh

# COMPOSER
/vendor

# CRAFT STORAGE
/storage/*
!/storage/.gitkeep

# WEB
/web/cpresources
# /web/assets
# /web/css
# /web/images
# /web/js
# /web/mix-manifest.json
/web/assets/imager
/web/uploads

# BUILD FILES
/node_modules
/yarn-error.log
/npm-debug.log

# MISC FILES
.cache
.DS_Store
.vscode
.idea
/web/css/site.css.map
/web/js/site.js.map
