{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_/layouts/site" %}

{% block inline_css %}
    {{ source ("_/#{entry.type.handle}-critical.min.css", ignore_missing = true) }}
{% endblock %}

{% block content %}

        <article data-router-view="newsArticle" data-handle="{{ entry.type.handle }}">

            <div class="news-article-container wrapper min-vh-100" data-scroll-section>

                {% include "_/components/block-matrix" %}

            </div>

        </article>

{% endblock %}
