[data-page="news"] {

    [data-router-view="newsArticle"] {
        width: 100%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }



    @media screen and (max-width: 1024px) {



    }

    @media screen and (max-width: 767px) {



    }

}
