{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entryTitle = '404' %}

{% extends "_/layouts/site" %}

{% block content %}

    <section>
        <div>
            <p>
                404 Not Found Error
            </p>
        </div>
    </section>

{% endblock %}
