{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entryTitle = '503' %}

{% extends "_/layouts/site" %}

{% block content %}

    <section>
        <div>
            <p>
                503 Service Unavailable
            </p>
        </div>
    </section>

{% endblock %}
