{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entryTitle = 'error' %}

{% extends "_/layouts/site" %}

{% block content %}

    <section>
        <div>
            <p>
                Generic Error
            </p>
        </div>
    </section>

{% endblock %}
